<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jindal Trading</title>
    <link rel="stylesheet" href="s.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header class="header" id="header">
      <a href="#" class="logo">Jindal Trading Co.</a>

      <nav id="uprnav" class="navline">
          <a href="#About">ABOUT US</a>
          <a href="#Products">PRODUCTS</a>
          <a href="#Distribution">DISTRIBUTION</a>
          <a href="#Vendors">VENDORS</a>
          <%if(data) {%>
            <a href="/userDashboard">DASHBOARD</a>
            <a href="/logout">LOG-OUT</a>
          <%} else {%>
            <a href="/login">LOGIN</a>
          <%}%>
      </nav>
    </header>

    <main>
      <section class="landing" style="background: url(coal.webp);">
        <div class="outer">  
          <div class="inner">
            <span>Jindal Trading Co.</span>
            <p>ESTD. 1950</p>
          </div>
        </div>
      </section>




      <section class="about">
        <div class="about-text" >
          <span>ABOUT US</span>
          <p>
            Established in 1950, Jindal Trading Co, is well versed to serve industries by providing best 
  suited, Favourable and Economical raw Materials. Since its inception has made it a trusted 
  brand among clients located in over 100 different areas in India . Over 70+ Years of 
  Experienced Organization with the best working teams of professionals, In depth product 
  understanding and knowledge of the industry . we are dedicated to diligently supply our 
  trading expertise to deliver premium quality of products all over the country. Our journey is 
  focused on total quality management. An ethical approach and use of latest technical 
  procedure has enabled us to amass a huge client base in national market and create a 
  Prominent place among each and every customer of India. Our growth story in it self is an 
  insignia of our success .
          </p>
        </div>
      </section>



      <section class="heritage">

        <div class="heading">
          <span>OUR HERITAGE</span>
        </div>

        <div class="timeline">
          <div class="container left">
            <div class="content">
              <h2>1950</h2>
              <p>Started by Late Shree Ved Prakash Aggarwal as a small coal outlet catering to nearby retail clients.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>1984</h2>
              <p>The Trading Business was renamed as Jindal Coal Depo by his late son Late Shree Mukesh Jindal covering entire Meerut city and Mujaffarnagar, Shamli, Saharanpur...etc  </p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>2004</h2>
              <p>Further renamed as Jindal Trading Co. to specify the nature of Business which includes trading of Pig Iron, Carbon, Ferro Alloys, etc with distribution network in North India. </p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2020</h2>
              <p>Jindal Trading Company now have its distribution network in entire nation along with coastline countries too. </p>
            </div>
          </div>
          
          
        </div>
        


      </section>

      <section class="mission">
        <div class="heading-box">
          <span>MISSION</span>
        </div>
        <div class="content">
          <ul>
            <li>To maximize core competencies by exercising best business practices. </li>
            <li>To Provide a Qualitative & Quantitative service to the clients with 
              Excellence, Economy & Efficiency. </li>
            <li>To promote Corporate Social Responsibility with an emphasis on 
              employee welfare, a high standard of health and safety, sustainable 
              environmental policies, and responsible community development.</li>
          </ul>
        </div>
      </section>

      <section class="vision">
        <div class="content">
          <p>To provide the best customer service at cost-effective rates . A Company 
            committed to delivering premium products to become leading company 
            by inculcating ethical measures, best mine-to-market practices, social 
            reliability and contentment along with sustainable growth in the long term 
            whilst minimizing environmental impact.</p>
        </div>
        <div class="heading-box">
          <span>VISION</span>
        </div>
      </section>

      <section class="whyus">

        <div class="flip-card">
          <div class="flip-card-inner">
            
            <div class="flip-card-front">
              
                <span>WHY US?</span>
            </div>

            <div class="flip-card-back">
              <ul>
                  <li class="a">QUALITY AND CUSTOMIZABLE PRODUCTS. </li>
                  <li class="b">COMPETITIVE PRICING POLICY </li>
                  <li class="a">TIMELY DELIVERY OF ORDERS</li>
                  <li class="b">STRONG AND REPUTED SUPPLY CHAIN NETWORK</li>
                  <li class="a">EXPANDED NETWORKING WEB</li>
                  <li class="b">ETHICAL BUSINESS APPROACHES</li>
                  <li class="a">STRONG EMBEDDED VALUES OF BUILDING PARTNERS NOT CLIENTS ACROSS ALL LEVELS </li>
                  <li class="b">CONSULTACY SERVICES AVAILABLE FOR DECIDING THE BEST PRODUCT SUITED TO OUR PARTNERS NEEDS</li>
                  <li class="a">RICH INDUSTRY EXPERIENCE OF TRADING SINCE LAST OVER 70+ YEARS</li>
                </ul>
            </div>

          </div>
        </div>

        
      </section>


      <footer>
        
        <div class="some">
          
            
              <a class="facebook" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>

              <a class="twitter" href="#">               
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
             
              <a class="whatsapp" href="#">               
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
                       
              <a class="instagram" href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
                       
              <a class="google" href="#">                
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
                     
        </div>

        <div class="address">
          <div class="a" id="a1">
            <span>REGISTERED CORPORATE OFFICE</span>
            <hr>
            <p>
              60/122 NEW PUNJABI PURA, DELHI ROAD, MEERUT PINCODE:250002 
            </p>
            <code>
              CONTACT : MR VAIBHAV ROHATGI MOB: +91-9690901694
            </code>
          </div>
          <div class="a" id="a2">
            <span>BRANCH OFFICE 1</span>
            <hr>
            <p>
              PLOT NO: 46 WARD 4/B, ADIPUR (KUCH ) GANDHI DHAM PINCODE: 370205 
            </p>
            <code>
              CONTACT : MR AKSHAT JAIN MOB: +91-9106728108
            </code>
          </div>
          <div class="a" id="a3">
            <span>BRANCH OFFICE 2</span>
            <hr>
            <p>
              MANAI.TAND.NEER .. JHARKHAND OFFICE BANK COLONY, DHANBAD PINCODE: 826001
            </p>
            <code>
              CONTACT : RAJ KUMAR VERMA MOB: +91-9431377544 +91-9334267522
            </code>
          </div>
        </div>

      <div class="copy">
        <i>© 2023 Jindal Trading Co. All rights reserved.</i>
      </div>
      </footer>
    </main>
    
    <script>
      var prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          document.getElementById("header").style.top = "0";
        } else {
          document.getElementById("header").style.top = "-10rem";
        }
        prevScrollpos = currentScrollPos;
      }
      </script>

  </body>
</html>
